<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
</head>
<body>

<h2>Login Form</h2>

<form action="/login" method="POST">
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email" value="John"><br><br>
  <label for="password">Password:</label><br>
  <input type="text" id="password" name="password" value="Doe"><br><br>
  <input type="submit" value="Login">
</form>

<p>don't have an account yet? please <a href="/register">Register</a></p>

</body>
</html>