<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>

<body class="container">

  <h1 style="font-size:40px">Login</h1>

  <form action="/login" method="POST" onsubmit="return validateLogin()">
    <div class="area">
      <input type="text" id="email" name="email" placeholder="Email">
      <div id="message6" class="descript">Insert Email </div><br>
    </div>
    <div class="area">
      <input type="text" id="password" name="password" placeholder="Password">
      <div id="message7" class="descript">Insert Password </div><br>
    </div>
    <input id="submitBTN" type="submit" value="Login">
  </form>
  <br>
  <p id="goToRegister">don't have an account yet? please <a href="/register">Register</a></p>

  <script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>

</html>