<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Form</title>
</head>
<body>

<h2>Register Form</h2>

<form action="/register" method="POST">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" value="John"><br><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value="Doe"><br><br>
    <label for="uname">User name:</label><br>
    <input type="text" id="uname" name="uname" value="JohnDoe2021"><br><br>
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email" value="JohnDoe2021@gmail.com"><br><br>
    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password" value="JohnDoe2021"><br><br>
    <input type="submit" value="Register">
</form>

<p>already have an account? please <a href="/login">Login</a></p>

</body>
</html>